<style>
  .contenedor-envio-mensaje{
      background-color: white;
      padding: 15px;
      margin-top: 15px;
      border-radius: 8px;
  }

</style>
<div class="container">
  <div class="row">
    <div class="col-md-6  contenedor-envio-mensaje">
      <%= form_tag private_messages_path, method: :post do %>
          <div class="form-group">
            <%= label_tag 'message[subject]', 'Tema' %>
            <%= text_field_tag 'message[subject]', nil, class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= label_tag 'message[body]', 'Contenido' %>
            <%= text_area_tag 'message[body]', nil, cols: 3, rows: 6, class: 'form-control', required: true %>
          </div>

          <div class="form-group">
            <%= label_tag 'recipients', 'Elegir destinatarios' %>
            <%= select_tag 'recipients', recipients_options, multiple: true, class: 'form-control chosen-it' %>
          </div>

          <%= submit_tag 'Enviar', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</div>
