<div class="container-fluid" style="padding: 0px">
  <div id="container-cover">
    <div class="hovereffect">
      <%= image_tag @user.cover.url, id: 'img-cover' %>
      <% if current_user.name == @user.name %>
          <div class="overlay">
            <h2>Actualizar foto de portada</h2>

            <%= form_for :user, url: upload_cover_path do |f| %>
                <label for="user_cover"><span class="glyphicon glyphicon-camera"></span></label>
                <%= f.file_field :cover,  class: 'inputfile', onchange: "this.form.submit();"%>
            <% end %>

          </div>
      <% end %>
    </div>
  </div>



</div>


<div id="container-avatar">
  <div class="hovereffect">
    <%= image_tag @user.avatar.url, id: 'img-avatar' %>
    <% if current_user.name == @user.name %>
        <div class="overlay">
          <h2>Actualizar foto de perfil</h2>
          <%= form_for :user, url: upload_photo_path do |f| %>
              <label for="user_avatar"><span class="glyphicon glyphicon-camera"></span></label>
              <%= f.file_field :avatar, class: 'inputfile', onchange: "this.form.submit();" %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>

<div class="container container-stat" style="clear: both">
  <div class="row">
    <div class="col-md-3" style="height: 45px"></div>
    <div class="col-md-2"><%= link_to "Publicaciones:#{@user.posts.count}","#" %></div>
    <div class="col-md-2"><%= link_to "Seguidores:#{@user.fans.count}","#" %></div>
    <div class="col-md-2"><%= link_to "Siguiendo:#{@user.idols.count}","#" %></div>
    <div class="col-md-3">
      <% if @user.name != current_user.name %>
          <% if current_user.following?(@user) %>
              <%= form_for :relationship, url: unfollow_path, html: {method: :delete} do |f| %>
                  <%= hidden_field_tag :idol_id, @user.id %>
                  <%= f.submit "Dejar de seguir", class: 'btn btn-primary' %>
              <% end %>
          <% else %>
              <%= form_for :relationship, url: follow_path do |f| %>
                  <%= hidden_field_tag :idol_id, @user.id %>
                  <%= f.submit "Seguir", class: 'btn btn-primary  btn-block' %>
              <% end %>
          <% end %>
      <% end %>
    </div>

  </div>
</div>





<div class="container">
<div class="row">
  <div class="col-md-3">
    <div class="contenedor-enlaces">
      <% if current_user.resume.nil? %>
        <%= link_to '<span class="glyphicon glyphicon-briefcase"></span> Crear Curriculum'.html_safe, new_resume_path ,class: 'enlaces-perfil'%>
      <% else %>
        <%= link_to '<span class="glyphicon glyphicon-pencil"></span> Editar Curriculum'.html_safe, resume_path(current_user.resume.id) ,class: 'enlaces-perfil'%>
      <% end %>
      <%= link_to '<span class="glyphicon glyphicon-tree-conifer"></span> Contratar'.html_safe, job_vacancies_path ,class: 'enlaces-perfil'%>
      <%= link_to '<span class="glyphicon glyphicon-picture"></span> Fotos'.html_safe, new_resume_path ,class: 'enlaces-perfil'%>

    </div>
  </div>
  <div class="col-md-6">
    <%= form_for :post, url: new_post_path do |f| %>
    <div class="row">
      <div class="col-md-12">
        <%= f.text_area(:body, class: "form-control", placeholder: 'How do you feel?', rows: 4) %>
      </div>
    </div>
    <div class="row barra-enviar">
      <div class="col-md-9 col-sm-8 col-xs-4">
        <label for="post_image">
            <span class="glyphicon glyphicon-camera btn btn-primary" aria-hidden="true"></span>
        </label>
        <%= f.file_field :image, class: 'inputfile' %>
      </div>
      <div class="col-md-3  col-sm-4  col-xs-8 cont-btn-publicar">
        <button type="submit" class="btn btn-primary">
          Publicar <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <% end %>
    <% @posts.each do |post| %>
        <div class="container-body ">
          <%= image_tag @user.avatar.url, id: 'img-avatar' %>
          <h5><%= post.user.name %></h5>
          <%= image_tag post.pictures.first.image.url, class: 'img-post' %>
          <p class="format-text"><%= post.body %></p>
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class=" glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class=" glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          </button>
          <button type="button" class="btn btn-default" aria-label="Left Align">
            <span class=" glyphicon glyphicon-share-alt" aria-hidden="true"></span>
          </button>
        </div>
    <% end %>
  </div>
  <div class="col-md-3 col-derecha">
    <div class="row text-center">
      <div class="texto-sugerencias">SUGERENCIAS</div>
    </div>
    <div class="row contenedor-sugerencia">
        <div class="col-md-4">
          <%= image_tag User.find_by(:id=>1).avatar.url, class: 'img-circle img-sugerencia' %>
        </div>
        <div class="col-md-8">
          <p>Franz Osvaldo Beltran Mercado</p>
          <!--<button class="btn btn-primary">Seguir</button>-->
          <button style="font-size:12px" class="btn  btn-primary">Seguir <i class="fa fa-user-plus"></i></button>
        </div>
    </div>
    <div class="row contenedor-sugerencia">
      <div class="col-md-4">
        <%= image_tag User.find_by(:id=>2).avatar.url, class: 'img-circle img-sugerencia' %>
      </div>
      <div class="col-md-8">
        <p>Andrea Maria Alvarado Penarrieta</p>
        <!--<button class="btn btn-primary">Seguir</button>-->
        <button style="font-size:12px" class="btn  btn-primary">Seguir <i class="fa fa-user-plus"></i></button>
      </div>
    </div>

  </div>
</div>




</div>
