<!DOCTYPE html>
<html>
<head>
  <title>Teresa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
    Holas: <%= current_user.name %>
    <%= link_to 'Terminar sesion', sign_out_path, method: :delete %>
<% else %>
no estas logeado
<% end %>
<%= yield %>

</body>
</html>
