<!DOCTYPE html>
<html>
<head>
  <title>Teresa</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if logged_in? %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'UCB', publications_path, class: 'navbar-brand' %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "#{current_user.name}", profile_path(current_user.name) %></li>
        <li><%= link_to 'Publicaciones', publications_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Ofertas <span class="badge"><%= current_user.get_vacancies.count - current_user.get_vacancies_applied.count%></span></a>
          <ul class="dropdown-menu">
            <% current_user.get_vacancies.each do |vacancy| %>
                <% if Applicant.not_applied?(vacancy.id, current_user.id) %>
                    <li><%= link_to User.find(vacancy.user_id).name , job_vacancy_path(vacancy.id) %></li>
                <% end %>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><a href="">Todos las ofertas</a></li>

          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Postulantes <span class="badge"><%= current_user.get_candidates.count %></span></a>
          <ul class="dropdown-menu">
            <% current_user.get_candidates.each do |candidate| %>
                <li><%= link_to candidate.applicant_name, resume_path(candidate.applicant_resume_id), :class =>'link-postulante' %></li>
            <% end %>
            <li role="separator" class="divider"></li>
            <li><a href="">Todos los postulantes</a></li>
          </ul>
        </li>

        <li><%= link_to 'Terminar sesión', sign_out_path, method: :delete %></li>
      </ul>
      <%= form_tag search_path, id: 'formulario', class: 'navbar-form navbar-left', method: :get do %>
          <div class="form-group">
            <%= text_field_tag :query, params[:query],  class: 'form-control typeahead', placeholder: 'Buscar personas' %>
          </div>
          <%= submit_tag 'Search', class: 'btn btn-primary' %>

      <% end %>

    </div>
  </div>
</nav>
<% end %>

  <%= yield %>


</body>
</html>

<script>
    var people = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,

        remote: {
            url: '../autocomplete/%QUERY',
            wildcard: '%QUERY'

        }
    });

    $('.typeahead').typeahead(null, {
        name: 'people',
        display: 'name',
        source: people.ttAdapter()
    }).on('typeahead:selected', function () {
        console.log('selecionado');
//        alert('franz');
        document.getElementById("formulario").submit();
    });

</script>
